body {
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease; 
  background-color: black;
  color: white;
}

#video {
  position: absolute;
  width: 80%;   
  height: auto; 
  z-index: 1;
  border-radius: 8px; 
}

#highlight {
  position: absolute;
  background-color: rgba(0, 102, 0, 0.5); 
  z-index: 2;
  display: none;
  width: 200px;   
  height: 200px;  
  top: 10%;       
  right: 10%;    
}
