body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
  }
  
  #videoElement {
    display: block;
    border: 2px solid white;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
<<<<<<< HEAD:styles.css
  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;  
    z-index: -1;  
  }
  
=======
>>>>>>> 967f6a14ba1b6354c5cd1b0253e7c1a626515db2:style.css
